/src/example
/logs
lightning_logs
/Data
*.mat
Data

/scripts_logs

*.pyc
*/__pycache__/*

/dataset/*
/coco_files/*
.vscode
/__pycache__
/lightning_logs/*
/model/weights
/logs/*
*.pyc
/basemap
/basemap_lib

.eggs
build
dist
*.egg-info
*.pyc
*.pyd
*.so

htmlcov
.cache
.coverage
.pytest_cache

# File manager files.
.gdb_history
.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# Temporary files.
.#*
[#]*#
*~
*$
*.bak

# IDE files.
.project
.pydevproject
.vscode
/data/*
*.log

Shape_labels.zip
*.out
src/model/__pycache__/*
src/model/__pycache__/models.cpython-38.pyc
src/model/tools/__pycache__/utils.cpython-38.pyc
src/utils/__pycache__/utils.cpython-38.pyc
src/utils/dataset/__pycache__/datamodule.cpython-38.pyc
src/utils/dataset/__pycache__/dataset.cpython-38.pyc
src/utils/setting/__pycache__/config.cpython-38.pyc
__pycache__/main.cpython-38.pyc
/ckpts
